/*fundo da pagina*/
.login-page{
    height: 100vh;
    background-color: #e8eaec;
    display: flex;
    justify-content: center;
  
    
}

/*card de login*/
.login-card{
    height: 50%;
    width: 380px;
    background-color: #fcfcfc;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    font-style: oblique ;
    text-align: center;
}

.title{
   
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
 
    

}

.subtile{
    margin-bottom: 30px;
    color: #666;
    font-size: 14px;
    display: flex;
   
   
}

.login-campo label{
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
    text-align: left;
}
.login-campo input{
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-button{
  
    width: 30%;
    margin-top: 16px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: aliceblue;
    

    
}


.botao-login:hover{
    background-color: #2ab47b;

}