<div class="login-page">
  <div class="login-card">

    <h1 class="title">Start Students</h1>
    <p class="subtitle">Faça seu login para continuar</p>

    <div class="login-campo">
      <label>Usuário</label>
     <input
        type="text"
        placeholder="Usuário"
        [(ngModel)]="usuario"
        name="usuario"
      />
    </div>

    <div class="login-campo">
      <label>Senha</label>
      
      <input
        type="password"
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
      />

    </div>

    <button type="button" (click)="entrar()">Entrar</button>

    <p *ngIf="erro" style="color:red">
      {{ erro }}
    </p>

  </div>
</div>
