  <div class="pagination">

      <button 
        class="arrow"
        (click)="paginaAnterior()"
        [disabled]="paginaAtual === 0">
        ‹
      </button>

      <button
        *ngFor="let p of [].constructor(totalPaginas); let i = index"
        (click)="irParaPagina(i)"
        [ngClass]="{'active': i === paginaAtual}">
        {{ i + 1 }}
      </button>

      <button
        class="arrow"
        (click)="proximaPagina()"
        [disabled]="ultimaPagina">
        ›
      </button>
  </div>