<div class="page">

  <!-- TÍTULO -->
  <h1 class="title">TELA DE LISTAGEM DE ALUNOS</h1>

  <div class="card">

    <!-- HEADER -->
    <div class="card-header">
      <span>Alunos</span>

      <button
        class="btn-primary"
        (click)="irParaNovoAluno()"
      >
        Novo Aluno
      </button>
    </div>

   <app-search (filtroMudou)="atualizarFiltro($event)"></app-search>

    <div class="card-body">

   </div>

    <!-- TABELA -->
    <table>

      <thead>
        <tr>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>

   <tbody>

  <tr *ngIf="alunosFiltrados.length === 0">
    <td colspan="4" style="text-align:center; padding:20px;">
      Nenhum aluno cadastrado.
    </td>
  </tr>

  <tr *ngFor="let aluno of alunosFiltrados">

    <td>{{ aluno.matricula }}</td>

    <td>
      <div class="aluno-info">
        <img
          *ngIf="aluno.foto"
          [src]="'http://localhost:8080/uploads/' + aluno.foto"
          class="avatar"
        />
        <span>{{ aluno.nome }}</span>
      </div>
    </td>

    <td>
      <app-status-badge [status]="aluno.status"></app-status-badge>
    </td>

    <td class="actions">

      <button class="btn-icon view"
        (click)="verDetalhe(aluno.id)">
        <i class="fas fa-eye"></i>
      </button>

      <button class="btn-icon edit"
        (click)="editarAluno(aluno.id)">
        <i class="fas fa-edit"></i>
      </button>

      <button class="btn-icon delete"
        (click)="apagarAluno(aluno.id)">
        <i class="fas fa-trash"></i>
      </button>

    </td>

  </tr>

</tbody>


 </table>

   <app-pagination
  [paginaAtual]="paginaAtual"
  [totalPaginas]="totalPaginas"
  [ultimaPagina]="ultimaPagina"
  (paginaMudou)="irParaPagina($event)">
</app-pagination>

   

  </div>  

</div>