<div class="page">

  <form [formGroup]="form" >

    <div class="form-card">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn" (click)="cancelar()">←</button>
      <h2 *ngIf="!isEditando">Novo Aluno</h2>
      <h2 *ngIf="isEditando">Editar Aluno</h2>
    </div>

    <!-- FOTO -->
    <div class="foto-section">
  <label>Foto do Aluno</label>

  <div class="foto-container">

    <!-- PREVIEW -->
    <div class="foto-preview">
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Foto" />
      <span *ngIf="!previewUrl">Nenhuma foto</span>
    </div>

    <!-- INPUT OCULTO -->
    <input
      type="file"
      accept="image/*"
      (change)="onSelecionarFoto($event)"
      #fileInput
      hidden
    />

    <!-- BOTÃO -->
    <button
      type="button"
      class="btn-foto"
      (click)="fileInput.click()"
    >
      <i class="fas fa-camera"></i>
      Escolher Foto
    </button>

  </div>
</div>

    <!-- NOME -->
    <div class="form-group">
      <label>Nome Completo</label>
      <div class="input-icon">
        <i class="fas fa-user"></i>
        <input
          
          formControlName="nome"
          name="nome"
          placeholder="Digite o nome do aluno"
        >
      </div>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label>Email</label>
      <div class="input-icon">
        <i class="fas fa-envelope"></i>
        <input formControlName="email"
          name="email"
          placeholder="aluno@email.com"
        >
      </div>
    </div>

    <!-- CPF -->
    <div class="form-group">
      <label>CPF</label>
      <div class="input-icon">
        <i class="fas fa-id-card"></i>
        <input
          formControlName="cpf"
          name="cpf"
          placeholder="000.000.000-00"
          maxlength="14"
          (input)="formatarCpf()"
        >
      </div>
    </div>

    <!-- TELEFONE -->
    <div class="form-group">
      <label>Telefone</label>
      <div class="input-icon">
        <i class="fas fa-phone"></i>
        <input
          formControlName="telefone"
          name="telefone"
          placeholder="(00) 00000-0000"
          maxlength="15"
          (input)="formatarTelefone()"
        >
      </div>
    </div>

    <div *ngIf="isEditando">
        <div class="status-wrapper">
        <label class="titulo-status">Status</label>

        <div class="status-opcoes">
            <label class="status-item">
            <input type="radio"  formControlName="status"
             value="ATIVO">
            <span class="custom-radio ativo"></span>
            Ativo
            </label>

            <span class="divider"></span>

            <label class="status-item">
            <input type="radio"  formControlName="status" 
            value="INATIVO">
            <span class="custom-radio inativo"></span>
            Inativo
            </label>
        </div>
        </div>
    </div>

    <!-- BOTÕES -->
    <div class="buttons">
      <button type="button" class="btn-cancel" (click)="cancelar()">
        Cancelar
      </button>

      <button type="button" class="btn-save" 
      *ngIf="!isEditando"
      [disabled]="!formularioCompleto"
      [ngClass]="{
        'btn-disabled': !formularioCompleto,
        'btn-primary': formularioCompleto
      }"
      (click)="cadastrar()">
        Cadastrar
      </button>

      
      <button type="button" class="btn-save" 
      *ngIf="isEditando"
      [disabled]="form.invalid"
      [ngClass]="{'btn-disabled': form.invalid}"
      (click)="atualizar()">
        Salvar
      </button>
    </div>

  </div>
  </form>

  
</div>