/* ===== FUNDO ===== */
.page {
  background: #f4f4f4;
  min-height: 100vh;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
 box-sizing: border-box;
 font-family: 'Inter', sans-serif;
}

/* ===== CARD ===== */
.form-card {
  width: 100%;
  max-width: 720px;
  background: #ffffff;
  border-radius: 10px;
  padding: 49px;
  
}

/* ===== HEADER ===== */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-right: 14px;
  color: #444;
}

.header h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #222;
}

/* ===== FOTO ===== */
.foto-section {
  margin-bottom: 50px;
}

.foto-section label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 12px;
  display: block;
}

.foto-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* PREVIEW DA FOTO */
.foto-preview img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.btn-foto {
  background: #f3f3f3;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #444;
}

.btn-foto:hover {
  background: #eaeaea;
}

/* ===== FORM ===== */
.form-group {


  margin-bottom: 20px;
 
}

.form-group label {
 
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  color: #333;
  
}

/* INPUT COM ÍCONE */
.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #b0b0b0;
  font-size: 15px;
}

.input-icon input {
  width: 93%;
  padding: 15px 15px 15px 48px;
  border-radius: 14px;
  border: 1px solid #e6e6e6;
  background: #fafafa;
  font-size: 14px;
  transition: all 0.2s ease;
}

.input-icon input:focus {
  outline: none;
  border: 1px solid #e60000;
  background: #ffffff;
}

.input-icon input:disabled {
  background: #f0f0f0;   
  border: 1px solid #d6d6d6; 
  color: #9e9e9e;           
  cursor: not-allowed;      
  opacity: 1;               
}

/* ===== BOTÕES ===== */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.btn-cancel {
  width: 48%;
  padding: 16px;
  border-radius: 14px;
  border: none;
  background: #dcdcdc;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn-save {
  width: 48%;
  padding: 16px;
  border-radius: 14px;
  border: none;
  background: #e60000;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  
}
.btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #e60000;
  color: white;
}


.btn-save:hover:not(:disabled) {
  background: #cc0000;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

.page-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.page-btn:hover {
  background: #e0e0e0;
}

.page-btn.active {
  background: #e60000;
  color: white;
  font-weight: 600;
}

.page-btn.arrow {
  background: transparent;
  font-size: 14px;
}

.page-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.status-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.titulo-status {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.status-opcoes {
  display: flex;
  align-items: center;
  gap: 16px;
}

.status-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  user-select: none;
}

.status-item input {
  display: none; /* ocultar nativo */
}

.custom-radio {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #bbb;
  margin-right: 6px;
  position: relative;
}

/* ATIVO */
.status-item input:checked + .custom-radio.ativo {
  border-color: #c04cff;
}

.status-item input:checked + .custom-radio.ativo::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #c04cff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* INATIVO */
.status-item input:checked + .custom-radio.inativo {
  border-color: #444;
}

.status-item input:checked + .custom-radio.inativo::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #444;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* DIVISOR | */
.divider {
  width: 1px;
  height: 16px;
  background: #ccc;
}
